/// Main Page modal started 

.mantine-Modal-root {
    #Light_Modal-body {
        background-color: white !important;



        h2 {
            color: black !important;
        }

        p {
            color: black !important;
        }

        .mantine-Stack-root {
            padding: 10px 0;
        }
    }

    .m_b5489c3c {
        background-color: transparent !important;
    }

    #Dark_Modal-body {
        background-color: #2e2e2e !important;
        padding: 10px 0;

        h2 {
            color: white !important;
        }

        p {
            color: white !important;
        }

        .mantine-Stack-root {
            padding: 10px 0;
        }
    }
}

.Modal-flex-comp {
    display: flex;
    margin: 10px 0;
    color: white;
    gap: 20px;
}

.mantine-Stack-root {
    display: flex;
    align-items: center;
    justify-content: center !important;
    gap: 50px !important;
    flex-direction: row !important;

    p {
        color: white;
    }
}





//// end code

/// Main Page header started

.MainPage-header-navi {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    box-shadow: 0px 10px 22px 12px rgba(0, 0, 0, 0.1);
    background-color: #242424;
    border-bottom: 0.5px solid #3e3e3e;
    align-items: center;


}

.MainPage-header-navi-light {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    box-shadow: 0px 10px 22px 12px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-bottom: 0.5px solid #cacaca;
    align-items: center;

    .MainPage-header-navi-logo {
        h2 {
            color: black;
        }
    }

    .MainPage-header-navi-search {
        display: flex;
        flex-direction: row-reverse;
        gap: 10px;
        align-items: center;

        ul {
            display: flex;

            li {
                color: black;
                display: flex;
                margin-right: 7px;
                font-family: 'Roboto', sans-serif;
                font-weight: 600;
                gap: 5px;
            }
        }
    }

    .MainPage-header-navi-profile {
        button {
            border: none;
            padding: 10px;
            border-radius: 2px;
            margin: 10px;
            font-size: 20px;
            outline: none;

        }

        .login-btn {
            background: #1677ff !important;
            color: white;
        }

        .profile-btn {
            background: #1677ff;
            color: white;
        }

        .theme-btn {
            border: 1px solid #585858;
            color: black;
            background: none;
        }

        .settings-btn {
            background: none;
            border: 1px solid #585858;
            color: black;
        }
    }


}

.MainPage-header-navi-logo {
    h2 {
        font-family: 'Roboto', sans-serif;
        color: #e5e5e5;
    }
}

.MainPage-header-navi-search {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    align-items: center;

    ul {
        display: flex;

        li {
            color: #e5e5e5;
            display: flex;
            margin-right: 7px;
            font-family: 'Roboto', sans-serif;
            font-weight: 600;
            gap: 5px;
        }

        a {
            text-decoration: none;
        }
    }
}

.MainPage-header-navi-profile {
    display: flex;
    align-items: center;
    button {
        border: none;
        // background: #2e2e2e;
        padding: 10px;
        border-radius: 2px;
        margin: 10px;
        font-size: 20px;
        color: #e5e5e5;
    }

    .profile-btn {
        background-color: #1677ff;
        color: white;
    }

    .login-btn {
        background-color: #1677ff !important;
        color: white;
    }

    .theme-btn,
    .settings-btn {
        background-color: transparent;
        border: 1px solid grey;
    }
}



/// end code



///  MainPage-block started



.MainPage-block-light {
    display: flex;
    align-items: start;
    background: white;
    gap: 100px;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;

    .pagination-control {
        background-color: white !important;

        .mantine-UnstyledButton-root {
            background-color: white;
            color: black;
            border: 1px solid;

            &:hover {
                background-color: white;
                color: black;
            }
        }
    }

    .mantine-Card-root {
        border: 1px solid rgb(219, 219, 219);
    }

    .m_4081bf90 {
        justify-content: unset;
        flex-wrap: nowrap;
        gap: 5px;

        p {
            color: black;
        }
    }


}

.MainPage-block {
    min-height: 100vh;
    display: flex;
    align-items: start;
    background: #242424;
    gap: 100px;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;

    .mantine-Card-root {
        border: none;
        background-color: #2e2e2e;
    }

    .m_4081bf90 {
        justify-content: unset;
        flex-wrap: nowrap;
        gap: 5px;
    }
}



.mantine-Carousel-controls {
    .mantine-UnstyledButton-root {
        background-color: white !important;
    }
}

.mantine-Carousel-indicators {
    .mantine-UnstyledButton-root {
        background-color: white !important;
    }

}

.MainPage-block-products-render {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 1000px;
    margin: 40px auto 0 auto;
    gap: 30px;
}

.MainPage-block-products-info {
    padding: 20px 15px;

    #title {
        width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #description {
        width: 250px;
        overflow: hidden;
        line-height: 25px;
        display: -webkit-box;
        overflow: hidden;
        height: 120px;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        margin: 10px 0;
    }

    .price {
        color: white;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 50px;
    }

    .navi-count {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: space-between;
    }
}

// pagination for products

.Pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 35px 0;

    li {
        display: inline-block;
        margin: 0 5px;

        a {
            font-family: 'Roboto', sans-serif;
            color: white;
            text-decoration: none;
            font-size: 16px;
            padding: 8px 12px;
            border-radius: 50%;
            transition: background-color 0.3s;
        }

        a:hover,
        a.active {
            background-color: #1890ff;
            color: white;
        }
    }
}

.pagination-control {
    background-color: #242424;
    display: flex;
    justify-content: center;
    padding: 50px 0;

    .mantine-UnstyledButton-root {
        background-color: #2e2e2e;
        color: white;
        border: none;

        &:hover {
            background-color: #3e3e3e;
            color: white;
        }
    }
}

/// end pagination 





/// menu in mantine

.navbar {
    height: 700px;
    width: 300px;
    padding: var(--mantine-spacing-md);
    display: flex;
    flex-direction: column;
    border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.navbarMain {
    flex: 1;
}

.navbarheader {
    padding-bottom: var(--mantine-spacing-md);
    margin-bottom: calc(var(--mantine-spacing-md) * 1.5);
    border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.footer {
    padding-top: var(--mantine-spacing-md);
    margin-top: var(--mantine-spacing-md);
    border-top: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: var(--mantine-font-size-sm);
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
    border-radius: var(--mantine-radius-sm);
    font-weight: 500;

    @mixin hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
        color: light-dark(var(--mantine-color-black), var(--mantine-color-white));

        .linkIcon {
            color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
        }
    }

    &[data-active] {

        &,
        &:hover {
            background-color: var(--mantine-color-blue-light);
            color: var(--mantine-color-blue-light-color);

            .linkIcon {
                color: var(--mantine-color-blue-light-color);
            }
        }
    }
}

.linkIcon {
    color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
    margin-right: var(--mantine-spacing-sm);
    width: 25px;
    height: 25px;
}

/// end code