.Login {
    color: white;
    background-color: #242424;
    min-height: 100vh;
}

.Login-light {
    color: black !important;
    background-color: white;
    min-height: 100vh;
}

.Login-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
}

.Login-block-form {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
        font-weight: 600;
        text-align: center;
    }

    .error-input {
        border-color: red !important;
    }

    .error {
        margin: 0;
        padding: 0;
        color: red;
        font-family: 'Roboto', sans-serif;
        font-size: 11px;
    }
}